{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg mb-3 navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome User:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <h4>{{request.user.username}}</h4>
            </ul>

            <button class="btn btn-danger">Logout</button>
        </div>
    </nav>
    <div class="container">
        <div class="row ">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success mt-3" type="submit">Upload</button>
            </form>
        </div>
        <div class="row mt-2">
            {% if summarized_text %}

            <ul>
                <p>Email: {{ emails }}</p>
                <p>Contact: {{ phones }}</p>
                <p>Other Information: {{ summarized_text }}</p>
            </ul>
            {% else %}
            <p>Loading....</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}